/* Global settings */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'WAGURITTF', Arial, sans-serif; /* 글씨체를 Pretendard로 변경 */
    background-color: #f4f4f8;
}

/* Navbar styles */
.navbar {
    background-color: #9c27b0; /* 보라색으로 변경 */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'WAGURITTF', Arial, sans-serif;
}

.navbar a, .navbar .dropbtn {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    background-color: #9c27b0; 
    font-family: 'WAGURITTF', Arial, sans-serif;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'WAGURITTF', Arial, sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none; 
    font-family: 'WAGURITTF', Arial, sans-serif;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #9c27b0; 
    font-family: 'WAGURITTF', Arial, sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    background-color: #9c27b0; /* 드롭다운 버튼 배경색 */
    border: none; /* 버튼 테두리 제거 */
}

.dropdown .dropbtn:hover, .navbar a:hover {
    background-color: #555; /* 호버 시 배경 색상 변경 */
    border: none; /* 호버 시 테두리 제거 */
}

.logo a, .menu a, .signin {
    background-color: #9c27b0; /* 기본 배경 색상 통일 */
    border: none; /* 모든 링크 테두리 제거 */
    font-family: 'WAGURITTF', Arial, sans-serif;
}

.logo {
    margin-right: auto; /* 로고와 나머지 메뉴를 분리 */
}



/* Main content and footer styles */
.container, .header-content, .main-content, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'WAGURITTF', Arial, sans-serif;
}

.header-content {
    background-color: #e1bee7;
    color: white;
    padding: 50px 0;
    text-align: center;
    background-image: url('../../img/h1_hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    position: relative;
}

.header-content .text-content {
    font-size: 2.3em; /* 글씨 크기를 3배로 키웁니다. */
    position: absolute; /* 부모 요소를 기준으로 위치를 조정 */
    right: 100px; /* 왼쪽으로 100px 이동 */
    top: 50px; /* 위에서 50px 이동 */
    width: calc(100% - 200px); /* 텍스트 영역의 너비 조정 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
}


.main-content {
    display: flex;
    justify-content: space-around;
    background-color: #e1bee7;
    padding: 50px 0;
}

.language img {
    width: 100px;
    height: auto;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .main-content {
        flex-direction: column;
    }

    .header-content, .main-content, .footer {
        padding: 10px;
    }

    .header-content h1, .header-content p {
        margin-left: 0;
    }
}
