<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인 및 회원가입</title>
  <link rel="stylesheet" href="../static/css/login_sign.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="login">
    <div class="login__content">
      <!-- 이미지 섹션 -->
      <div class="login__img">
        <img src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg" alt="로그인 이미지">
      </div>
      <!-- 로그인 폼 섹션 -->
      <div class="login__forms">
        <!-- 로그인 폼 -->
        <form class="login__register" id="login-in">
          <h1 class="login__title">로그인</h1>
          <div class="login__box">
            <i class='bx bx-user login__icon'></i>
            <input type="text" placeholder="이메일" class="login__input">
          </div>
          <div class="login__box">
            <i class='bx bx-lock login__icon'></i>
            <input type="password" placeholder="비밀번호" class="login__input">
          </div>
          <a href="#" class="login__forgot">비밀번호를 잊으셨나요?</a>
          <button type="submit" class="login__button">로그인</button>
          <div>
            <span class="login__account">계정이 없으신가요?</span>
            <span class="login__signup" id="sign-up">회원가입</span>
          </div>
        </form>
        <!-- 회원가입 폼 -->
        <form class="login__create none" id="login-up">
          <h1 class="login__title">계정 만들기</h1>
          <div class="login__box">
            <i class='bx bx-user login__icon'></i>
            <input type="text" placeholder="사용자 이름" class="login__input">
          </div>
          <div class="login__box">
            <i class='bx bx-at login__icon'></i>
            <input type="email" placeholder="이메일" class="login__input">
          </div>
          <div class="login__box">
            <i class='bx bx-lock login__icon'></i>
            <input type="password" placeholder="비밀번호" class="login__input">
          </div>
          <button type="submit" class="login__button">회원가입</button>
          <div>
            <span class="login__account">이미 계정이 있으신가요?</span>
            <span class="login__signin" id="sign-in">로그인</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const signup = document.getElementById("sign-up");
        const signin = document.getElementById("sign-in");
        const loginIn = document.getElementById("login-in");
        const loginUp = document.getElementById("login-up");
    
        signup.addEventListener("click", function() {
            loginIn.style.display = "none"; // 로그인 폼 숨기기
            loginUp.style.display = "block"; // 회원가입 폼 보이기
        });
    
        signin.addEventListener("click", function() {
            loginUp.style.display = "none"; // 회원가입 폼 숨기기
            loginIn.style.display = "block"; // 로그인 폼 보이기
        });
    });
  </script>
  <script src="../static/js/sign.js"></script>
</body>
</html>
