<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TalkTalk Language Learning Center</title>
<link rel="stylesheet" href="../static/css/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 추가 -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  // 로그인 상태 확인
  if (localStorage.getItem('email')) {
    // 로그인 상태라면 "My Page" 버튼 표시
    $('.signin').replaceWith('<a href="/mypage" class="mypage">My Page</a>');
  }
});
</script>
</head>
<body>
<nav class="navbar">
    <div class="logo"><a href="/">TalkTalk</a></div>
    <div class="menu">
      <div class="dropdown">
        <button class="dropbtn">Study</button>
        <div class="dropdown-content">
          <a href="/study_english">English</a>
          <a href="/study_japanese">Japanese</a>
          <a href="/study_chinese">Chinese</a>
          <a href="/study_spanish">Spanish</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Community</button>
        <div class="dropdown-content">
          <a href="#">자유 게시판</a>
          <a href="#">책 사고팔기</a>
          <a href="#">스터디 모집</a>
        </div>
      </div>
      <a href="about.html">About</a>
    </div>
    <a href="/join" class="signin">Sign In</a>
  </nav>
  <div class="header-content">
    <div class="text-content">
      <h1>TalkTalk</h1>
      <p>외국어 학습 공유 서비스</p>
    </div>
  </div>
<div class="main-content">
    <div class="language">
      <a href="/study_english"> <!-- 영어 학습 페이지로의 링크 -->
        <img src="../img/us.png" alt="USA">
        <p></p>
      </a>
    </div>
    <div class="language">
      <a href="/study_japanese"> <!-- 일본어 학습 페이지로의 링크 -->
        <img src="../img/japan.png" alt="Japan">
        <p></p>
      </a>
    </div>
    <div class="language">
      <a href="/study_chinese"> <!-- 중국어 학습 페이지로의 링크 -->
        <img src="../img/china.png" alt="China">
        <p></p>
      </a>
    </div>
    <div class="language">
      <a href="/study_spanish"> <!-- 스페인어 학습 페이지로의 링크 -->
        <img src="../img/spain.png" alt="Spain">
        <p></p>
      </a>
    </div>
</div>  
<div class="footer">
  <p>운영시간: 월 ~ 금 AM 9:00 ~ PM 7:00 | 점심시간: PM12:00 ~ PM 1:00</p>
  <p>고객센터: AM 10:00 ~ PM 6:00 | 전화번호: 02 123-9876</p>
  <p>Copyright © 2024 TalkTalk All Rights Reserved</p>
</div>
</body>
</html>
