<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/sign.css" />
  </head>
  <body>
    <div class="container">
      <div class="member-container">
        <div class="header">
          <div>회원 가입을 위해</div>
          <div>정보를 입력해주세요</div>
        </div>
        <div class="user-info">
          <div class="user-info-email">
            <div>* 이메일</div>
            <input type="email" />
          </div>
          <div class="user-info-name">
            <div>* 이름</div>
            <input type="text" />
          </div>
          <div class="user-info-pw">
            <div>* 비밀번호</div>
            <input type="password" />
          </div>
          <div class="user-info-pw-check">
            <div>* 비밀번호 확인</div>
            <input type="password" />
          </div>
        </div>
        <div class="gender">
          <input type="radio" name="gender" />
          <label for="women">여성</label>
          <input type="radio" name="gender" />
          <label for="men">남성</label>
        </div>
        <div class="agree-check">
          <input type="checkbox" /> 이용약관 개인정보 수집 및 이용, 마케팅 활용
          선택에 모두 동의합니다.
        </div>
        <div class="btn">
          <button>가입하기</button>
        </div>
      </div>
    </div>
    <script src="../static/js/sign.js"></script>
  </body>
</html>